body{
    background-color: aquamarine;
}

#Signin{
  background-color: rgb(250, 250, 250);
  margin-top:15em;
  border-radius: 4px;
  width: 400px;
  height: 500px;;
  /* max-width: 900px; */
  padding: 25px;
  /* padding-top: 20px; */
  border-radius: 20px;
}

.text{
    margin-top: initial;
    text-align: center;
}

.form-content{
    padding:10px;
    /* border:1px solid #fff; */
    /* margin-top: 1em; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

hr{
    size: 10em;
}